.main-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.note_edit {
    height: max-content;
    padding: 1rem;
}

.note_preview {
    height: 40vh;
    padding: 1rem;
    margin: 0.5rem 1rem;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.note_preview .title {
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.note_preview .mark_down {
    font-size: 1.2rem;
    text-indent: 10px;
}

.note_edit input[type="file"] {
    font-size: 1rem;
    padding: 10px 20px;
}

.note_edit textarea,
.note_edit input {
    display: block;
    border: 1px solid #d6d6d6;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s all ease;
}

.note_edit textarea:hover,
.note_edit input:hover {
    background: #f5f2f2;
    transition: 0.3s all ease;
}

.note_edit textarea:focus,
.note_edit input:focus {
    border-color: #0070c9;
    border-width: 1px;
    box-shadow: 0 0 0 1px #0070c9;
    background: transparent;
}

.note_edit textarea {
    font-size: 1.2rem;
}

.note_edit input {
    height: 50px;
    font-size: 1.2rem;
}

.btn_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
}

.btn_box button:hover {
    border-color: #0070c9;
    border-width: 1px;
    box-shadow: 0 0 0 1px #0070c9;
    background: transparent;
    transition: 0.3s all ease;
}

.font_change, 
.submit_btn {
    width: 100%;
    height: 46px;
    background: transparent;
    color: #000;
    font-size: clamp(13px, 1.5vw, 16px);
    line-height: 1.5;
    transition: 0.3s all ease;
    box-shadow: 0 0 0 1px #ccc;
}

@media screen and (max-width: 768px) {
    .main-container {
        display: block;
    }

    .note_edit {
        padding: 0.6rem;
    }

    .note_edit textarea {
        font-size: 1rem;
    }

    .note_preview {
        padding: 0.6rem;
        margin: 0 0.6rem;
    }

    .note_preview .title {
        font-size: 1.25rem;
        margin-bottom: 3px;
    }

    .note_edit textarea,
    .note_edit input {
        margin-bottom: 6px;
    }

    .note_edit input {
        font-size: 1.1rem;
    }

    .note_edit input[type="file"] {
        font-size: 0.9rem;
    }

    .font_change {
        height: 45px;
        font-size: 1rem;
    }
}