.sidebar-container {
    width: 35vw;
    height: 100vh;
    border-left: 1px solid #eee;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.sidebar-body {
    padding: 0 1%;
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.sidebar-list {
    padding: 1.5rem;
    background: rgb(246, 245, 245);
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 6px;
}

.sidebar-list.active {
    background: rgb(134, 208, 237);
}

.sidebar-list:hover {
    background: #ccc;
}

.sidebar-list:hover .sidebar-item-title {
    color: rgb(63, 182, 228);
}

.sidebar-item-title {
    font-size: 1.25rem;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.sidebar-list p{
    margin: 10px 0;
}

.fixed-data {
    font-size: 0.9rem;
    color: #999;
}

@media screen and (max-width: 768px) {
    .sidebar-header {
        flex-flow: column;
        padding: 0.5rem;
        gap: 0.5rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 6px;
    }
    .sidebar-header .title {
        font-size: 1.5rem;
    }
    .add_btn  {
        width: 100%;
        height: 35px;
    }
    .sidebar-list {
        padding: 0.3rem;
    }

    .sidebar-item-title {
        font-size: 0.95rem;
        display: flex;
        flex-flow: column;
        gap: 0.3rem;
    }

    .sidebar-item-title .item_title {
        margin: 2px auto;
    }

    .sidebar-list p {
        font-size: 0.8rem;
        margin: 6px 0;
    }

    .fixed-data {
        font-size: 0.8rem;
    }
}