/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --korFont: 'Chosunilbo_myungjo';
  --mainFont: 'Rajdhani', sans-serif;
  --popFont: 'Poppins', sans-serif;
}

ul, li, ol {
  list-style: none;
}

a, a:link, a:active, a:focus {
  text-decoration: none;
}

textarea, button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

/* html, body {
  min-height: 100vh;

  @supports (-webkit-appearance:none) and (stroke-color: transparent) {
    min-height: -webkit-fill-available;
  }
} */

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--mainFont);
  display: flex;
}



button {
  color: #FFF;
  border-radius: 6px;
}

.add_btn {
  width: 25%;
  background: rgb(106, 193, 106);
}

.del_btn {
  /* font-size: 0.65rem; */
  letter-spacing: 1px;
  padding: 10px 18px;
  background: rgb(196, 82, 82);
}

.randerpage {
  width: 65vw;
  height: 100vh;
  padding: 2rem;
  justify-content: center;
  background: #171717;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #212121;
  border-radius: 20px;
}

.content .ani_text {
  padding: 1rem;
  font-size: 2.5rem;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.content .ani_text:nth-child(1) {
  margin-bottom: 12px;
}

.content .styles-module_blinkingCursor__yugAC {
  color: #FFFFFF;
}

/* .content .bot_text, 
.content .Typewriter__wrapper {
  font-size: 2rem;
  color: #FFF;
  word-break: break-all;
} */

@media screen and (max-width: 768px) {
  .randerpage {
    padding: 1rem;
  }

  .content {
    padding: 0 1rem;
  }

  .content .ani_text {
    letter-spacing: 1px;
    padding: 0.75rem;
    font-size: 1.35rem;
    color: #FFFFFF;
    font-family: var(--korFont);
    word-break: break-all;
  }

  /* .content .top_text,
  .content .bot_text {
    font-size: 1.5rem;
    color: #FFF;
    word-break: break-all;
  } */
}