/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --korFont: 'Chosunilbo_myungjo';
  --mainFont: 'Rajdhani', sans-serif;
  --popFont: 'Poppins', sans-serif;
}

ul, li, ol {
  list-style: none;
}

a, a:link, a:active, a:focus {
  text-decoration: none;
}

textarea, button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--korFont);
  display: flex;
}

button {
  color: #FFF;
  border-radius: 6px;
}


